extends ../../auth-layout 
block content 
    div
        .container-fluid.p-0
            .row.g-0
                .col-xl-9
                    .auth-full-bg.pt-lg-5.p-4
                        .w-100
                            .bg-overlay
                            
                // end col
                .col-xl-3
                    .auth-full-page-content.p-md-5.p-4
                        .w-100
                            .d-flex.flex-column.h-100
                                .mb-4.mb-md-5
                                    a.d-block.auth-logo(href='index.html')
                                        img.auth-logo-dark(src='/stoke/assets/images/logos/cordial-logo.jpg' alt='' height='200')
                                        img.auth-logo-light(src='/stoke/assets/images/logos/cordial-logo.jpg' alt='' height='200')
                                .my-auto
                                    div
                                        h5.text-primary  Reset Password
                                    .mt-4
                                        .alert.alert-success.text-center.mb-4(role='alert')
                                            | Enter your Email and instructions will be sent to you!
                                        form(action='https://themesbrand.com/skote/layouts/index.html')
                                            .mb-3
                                                label.form-label(for='useremail') Email
                                                input#useremail.form-control(type='email' placeholder='Enter email')
                                            .text-end
                                                button.btn.btn-primary.w-md.waves-effect.waves-light(type='submit') Reset
                                        .mt-5.text-center
                                            p
                                                | Remember It ? 
                                                a.fw-medium.text-primary(href='/auth/login') Login here
                                .mt-4.mt-md-5.text-center
                                    p.mb-0
                                        | © 
                                        script.
                                            document.write(new Date().getFullYear())
                                        |  EHR

                // end col
                // end row
                // end container-fluid
