extends ../../auth-layout 
block content 
    div
        .container-fluid.p-0
            .row.g-0
                .col-xl-9
                    .auth-full-bg.pt-lg-5.p-4
                        .w-100
                            .bg-overlay
                            
                // end col
                .col-xl-3
                    .auth-full-page-content.p-md-5.p-4
                        .w-100
                            .d-flex.flex-column.h-100
                                .mb-4.mb-md-2
                                    a.d-block.auth-logo(href='/')
                                        
                                        
                                        //- CHANGES LOGO (png or jpeg files)============================================================
                                        img.auth-logo-dark(src='/images/sample-logo.png' alt='' height='200')
                                        img.auth-logo-light(src='/images/sample-logo.png' alt='' height='200')
                                        //- CHANGES LOGO (png or jpeg files)============================================================


                                .my-auto
                                    div
                                        h5.text-primary NDC PT-Mgmt
                                        p.text-muted=err
                                    .mt-4
                                        form(action='/auth/login' method="post") 
                                            .mb-3
                                                label.form-label(for='username') Email
                                                input#username.form-control(type='text' placeholder='Enter email' name="username")
                                            .mb-3
                                                //- .float-end
                                                //-     a.text-muted(href='auth-recoverpw-2.html') Forgot password?
                                                label.form-label Password
                                                .input-group.auth-pass-inputgroup
                                                    input.form-control(type='password' placeholder='Enter password' name="password")
                                                    button#password-addon.btn.btn-light(type='button')
                                                        i.mdi.mdi-eye-outline
                                            //- .form-check
                                            //-     input#remember-check.form-check-input(type='checkbox')
                                            //-     label.form-check-label(for='remember-check')
                                            //-         | Remember me
                                            .mt-3.d-grid
                                                button.btn.btn-primary.waves-effect.waves-light(type='submit') Log In
                                        .mt-5.text-center
                                            //- p
                                            //-     | Forgot Password ? 
                                            //-     a.fw-medium.text-primary(href='/auth/forgot-password') Reset now

                                .mt-4.mt-md-5.text-center
                                    p.mb-0
                                        | © 
                                        script.
                                            document.write(new Date().getFullYear())
                                        |  NDC PT-Mgmt
                                        //- i.mdi.mdi-heart.text-danger
                                        //- |  by Themesbrand
                // end col
                // end row
                // end container-fluid
