header#page-topbar
    - var access = (user)? user.accesslevel : ""
    .navbar-header
        .d-flex
            //- LOGO
            .navbar-brand-box
                a.logo.logo-dark(href='/')


                    //- CHANGE LOGO HERE====================================================
                    span.logo-sm
                        img(src='/images/sample-logo.png' alt='' height='40')
                    span.logo-lg
                        img(src='/images/sample-logo.png' alt='' height='52')
                        b.text-primary NDC PT-Mgmt
                    //- CHANGE LOGO HERE====================================================


                a.logo.logo-light(href='/')
                    span.logo-sm
                        //- img(src='/stoke/assets/images/logo-dark.pn' alt='' height='40')
                    span.logo-lg
                        //- img(src='/stoke/assets/images/logo-dark.png' alt='' height='19')
                        b.text-primary NDC PT-Mgmt
            button#vertical-menu-btn.btn.btn-sm.px-3.font-size-16.header-item.waves-effect(type='button')
                i.fa.fa-fw.fa-bars
            // App Search
            //- form.app-search.d-none.d-lg-block
            //-     .position-relative
            //-         input.form-control(type='text' placeholder='Search...')
            //-         span.bx.bx-search-alt
        .d-flex
            //- .dropdown.d-inline-block.d-lg-none.ms-2
            //-     button#page-header-search-dropdown.btn.header-item.noti-icon.waves-effect(type='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            //-         i.mdi.mdi-magnify
            //-     .dropdown-menu.dropdown-menu-lg.dropdown-menu-end.p-0(aria-labelledby='page-header-search-dropdown')
            //-         form.p-3
            //-             .form-group.m-0
            //-                 .input-group
            //-                     input.form-control(type='text' placeholder='Search ...' aria-label="Recipient's username")
            //-                     .input-group-append
            //-                         button.btn.btn-primary(type='submit')
            //-                             i.mdi.mdi-magnify


            //-
            .dropdown.d-inline-block.ms-2
                button.btn.header-item.noti-icon.waves-effect(type='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.bx.bx-customize
                .dropdown-menu.dropdown-menu-lg.dropdown-menu-end
                    .px-lg-2
                        .row.g-0
                            if(access === "admin")
                                .col
                                    a.dropdown-icon-item(href='/')
                                        img(src='/stoke/assets/images/menu/masterlist.png' alt='Masterlist')
                                        span Master List
                                .col
                                    a.dropdown-icon-item(href='/appointment')
                                        img(src='/stoke/assets/images/menu/transaction.png' alt='Transactions')
                                        span Transactions
                            .col
                                a.dropdown-icon-item(href='/calendar')
                                    img(src='/stoke/assets/images/menu/schedule.png' alt='Calendar')
                                    span Calendar

            //- NOTIFICATIONS========================================
            .dropdown.d-inline-block
                button#page-header-notifications-dropdown.btn.header-item.noti-icon.waves-effect(type='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.bx.bx-bell.bx-tada
                    span#not-count
                .dropdown-menu.dropdown-menu-lg.dropdown-menu-end.p-0(aria-labelledby='page-header-notifications-dropdown')
                    .p-3
                        .row.align-items-center
                            .col
                                h6.m-0(key='t-notifications')  Notifications 
                            .col-auto
                                //- a.small(href='#!' key='t-view-all')  View All
                    div(data-simplebar='' style='max-height: 230px;')
                        #not-data

                    .p-2.border-top.d-grid
                        //- a.btn.btn-sm.btn-link.font-size-14.text-center(href='javascript:void(0)')
                        //-     i.mdi.mdi-arrow-right-circle.me-1
                        //- span(key='t-view-more') View More..
            .dropdown.d-inline-block

                -var url = (user && (user.img != "" && user.img != null))? user.img : "/stoke/assets/images/users/avatar-6.jpg"
                button#page-header-user-dropdown.btn.header-item.waves-effect(type='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    img.rounded-circle.header-profile-user(src=url alt='User Avatar')
                    span#user-name.d-none.d-xl-inline-block.ms-1(key='t-henry')=(user)? user.lastname+" "+user.firstname : "" 
                    i.mdi.mdi-chevron-down.d-none.d-xl-inline-block
                .dropdown-menu.dropdown-menu-end
                    // item
                    -var no = (user)?user.no : "";
                    a.dropdown-item(href='/user/profile/'+no)
                        i.bx.bx-user.font-size-16.align-middle.me-1
                        span(key='t-profile') Profile
                    //- a.dropdown-item.d-block(href='#')
                    //- span.badge.bg-success.float-end 11
                    //- i.bx.bx-wrench.font-size-16.align-middle.me-1
                    //- span(key='t-settings') Settings
                    //- a.dropdown-item(href='#')
                    //-     i.bx.bx-lock-open.font-size-16.align-middle.me-1
                    //-     span(key='t-lock-screen') Lock screen
                    .dropdown-divider
                    a.dropdown-item.text-danger(href='/auth/logout')
                        i.bx.bx-power-off.font-size-16.align-middle.me-1.text-danger
                        span(key='t-logout') Logout

            //-
                .dropdown.d-inline-block
                    button.btn.header-item.noti-icon.right-bar-toggle.waves-effect(type='button')
                        i.bx.bx-cog.bx-spin
