.h-100(data-simplebar='')
    .rightbar-title.d-flex.align-items-center.px-3.py-4
        h5.m-0.me-2 Settings
        small#user-no=(user)? user.no : ""
        a.right-bar-toggle.ms-auto(href='javascript:void(0);')
            i.mdi.mdi-close.noti-icon

    hr.mt-2
    //- #accessPriv(style="display: none;")=user.access 
    //- #deletePriv(style="display: none;")=user.isdelete 
    //- #editPriv(style="display: none;")=user.isedit 
    if(access != 'doctor')
        .card 
            .card-body 
                //- if(access != 'np')
                .d-grid.gap-2
                    a.btn.btn-primary.btn-lg.waves-effect.waves-light(href="/inbox" role="button")
                        i.fa.fa-inbox 
                        |   Inbox
                hr.mt-1
                .d-grid.gap-2
                    a.btn.btn-primary.btn-lg.waves-effect.waves-light(href="/notes" role="button")
                        i.fa.fa-book
                        |   Task/Notes
                hr.mt-1
                if(access == 'admin')
                    .d-grid.gap-2
                        a.btn.btn-primary.btn-lg.waves-effect.waves-light(href="/users" role="button")
                            i.fa.fa-users 
                            |   Users

    hr.mt-2
    .card 
        .card-body 
            h4.card-title Online User(s)
            ul#online-users
