.vertical-menu
    .h-100(data-simplebar='')
        // - Sidemenu
        #sidebar-menu
            // Left Menu Start
            ul#side-menu.metismenu.list-unstyled
                li.menu-title(key='t-menu') Menu 
                if(menu === "masterlist")
                    li
                        a.waves-effect(href='/')
                            i.bx.bx-home-circle
                            span(key='t-calendar') Dashboards
                    if(access === "admin")
                        li
                            a.waves-effect(href='/doctors')
                                i.bx.bx-user-circle
                                span(key='t-calendar') Doctors
                        li
                            a.waves-effect(href='/patients')
                                i.bx.bx-user-check
                                span(key='t-calendar') Patients 
                    li
                        a.waves-effect(href='/calendar')
                            i.bx.bx-calendar
                            span(key='t-calendar') Calendar 
                if(menu === "transactions")
                    if(access === "admin")
                        li
                            a.waves-effect(href='/appointment')
                                i.bx.bx-book-open
                                span(key='t-calendar') Appoinments 
                        li
                            a.waves-effect(href='/payments')
                                i.bx.bx-receipt
                                span(key='t-calendar') Payments
                if(menu === "options")
                    if(access === "admin")
                        li
                            a.waves-effect(href='/user')
                                i.bx.bx-book-open
                                span(key='t-calendar') User List 