doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title 404 Error Page
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(content='Premium Multipurpose Admin & Dashboard Template' name='description')
        meta(content='Themesbrand' name='author')
        // App favicon
        link(rel='shortcut icon' href='/stoke/assets/images/favicon.ico')
        // Bootstrap Css
        link#bootstrap-style(href='/stoke/assets/css/bootstrap.min.css' rel='stylesheet' type='text/css')
        // Icons Css
        link(href='/stoke/assets/css/icons.min.css' rel='stylesheet' type='text/css')
        // App Css
        link#app-style(href='/stoke/assets/css/app.min.css' rel='stylesheet' type='text/css')
    body
        .account-pages.my-5.pt-5
            .container
                .row
                    .col-lg-12
                        .text-center.mb-5
                            h1.display-2.fw-medium
                                | 4
                                i.bx.bx-buoy.bx-spin.text-primary.display-3
                                | 4
                            h4.text-uppercase Sorry, page not found
                            .mt-5.text-center
                                a.btn.btn-primary.waves-effect.waves-light(href='/') Back to Home Page
                .row.justify-content-center
                    .col-md-8.col-xl-6
                        div
                            img.img-fluid(src='/stoke/assets/images/error-img.png' alt='')
        // JAVASCRIPT
        script(src='/stoke/assets/libs/jquery/jquery.min.js')
        script(src='/stoke/assets/libs/bootstrap/js/bootstrap.bundle.min.js')
        script(src='/stoke/assets/libs/metismenu/metisMenu.min.js')
        script(src='/stoke/assets/libs/simplebar/simplebar.min.js')
        script(src='/stoke/assets/libs/node-waves/waves.min.js')
        script(src='/stoke/assets/js/app.js')
        