doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Coming Soon!
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(content='Premium Multipurpose Admin & Dashboard Template' name='description')
        meta(content='Themesbrand' name='author')
        // App favicon
        link(rel='shortcut icon' href='/stoke/assets/images/favicon.ico')
        // Bootstrap Css
        link#bootstrap-style(href='/stoke/assets/css/bootstrap.min.css' rel='stylesheet' type='text/css')
        // Icons Css
        link(href='/stoke/assets/css/icons.min.css' rel='stylesheet' type='text/css')
        // App Css
        link#app-style(href='/stoke/assets/css/app.min.css' rel='stylesheet' type='text/css')
    body
        .home-btn.d-none.d-sm-block
            a.text-white(href='/')
                i.fas.fa-home.h2
        .my-5.pt-sm-5
            .container
                .row
                    .col-lg-12
                        .text-center
                            a.d-block.auth-logo(href='/')
                                img.auth-logo-dark.mx-auto(src='/stoke/assets/images/logo-dark.png' alt='' height='20')
                                img.auth-logo-light.mx-auto(src='/stoke/assets/images/logo-light.png' alt='' height='20')
                            .row.justify-content-center.mt-5
                                .col-sm-4
                                    .maintenance-img
                                        img.img-fluid.mx-auto.d-block(src='/stoke/assets/images/coming-soon.svg' alt='')
                            h4.mt-5 Coming Soon!
                            p.text-muted 
                            //- .row.justify-content-center.mt-5
                            //-     .col-md-8
                            //-         .counter-number(data-countdown='2021/12/31')
                                // end col
                                // end row
        // JAVASCRIPT
        script(src='/stoke/assets/libs/jquery/jquery.min.js')
        script(src='/stoke/assets/libs/bootstrap/js/bootstrap.bundle.min.js')
        script(src='/stoke/assets/libs/metismenu/metisMenu.min.js')
        script(src='/stoke/assets/libs/simplebar/simplebar.min.js')
        script(src='/stoke/assets/libs/node-waves/waves.min.js')
        // Plugins js
        script(src='/stoke/assets/libs/jquery-countdown/jquery.countdown.min.js')
        // Countdown js
        script(src='/stoke/assets/js/pages/coming-soon.init.js')
        script(src='/stoke/assets/js/app.js')
                                