doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Maintenance Page
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(content='Premium Multipurpose Admin & Dashboard Template' name='description')
        meta(content='Themesbrand' name='author')
        // App favicon
        link(rel='shortcut icon' href='/stoke/assets/images/favicon.ico')
        // Bootstrap Css
        link#bootstrap-style(href='/stoke/assets/css/bootstrap.min.css' rel='stylesheet' type='text/css')
        // Icons Css
        link(href='/stoke/assets/css/icons.min.css' rel='stylesheet' type='text/css')
        // App Css
        link#app-style(href='/stoke/assets/css/app.min.css' rel='stylesheet' type='text/css')
    body
        .home-btn.d-none.d-sm-block
            a.text-dark(href='/')
                i.fas.fa-home.h2
        section.my-5.pt-sm-5
            .container
                .row
                    .col-12.text-center
                        .home-wrapper
                            .mb-5
                                a.d-block.auth-logo(href='index.html')
                                    img.auth-logo-dark.mx-auto(src='/stoke/assets/images/logo-dark.png' alt='' height='20')
                                    img.auth-logo-light.mx-auto(src='/stoke/assets/images/logo-light.png' alt='' height='20')
                            .row.justify-content-center
                                .col-sm-4
                                    .maintenance-img
                                        img.img-fluid.mx-auto.d-block(src='assets/images/maintenance.svg' alt='')
                            h3.mt-5 Site is Under Maintenance
                            p Please check back in sometime.
                            .row
                                .col-md-4
                                    .card.mt-4.maintenance-box
                                        .card-body
                                            i.bx.bx-broadcast.mb-4.h1.text-primary
                                            h5.font-size-15.text-uppercase Why is the Site Down?
                                            p.text-muted.mb-0
                                                | There are many variations of passages of
                                                | Lorem Ipsum available, but the majority have suffered alteration.
                                .col-md-4
                                    .card.mt-4.maintenance-box
                                        .card-body
                                            i.bx.bx-time-five.mb-4.h1.text-primary
                                            h5.font-size-15.text-uppercase
                                                | What is the Downtime?
                                            p.text-muted.mb-0
                                                | Contrary to popular belief, Lorem Ipsum is not
                                                | simply random text. It has roots in a piece of classical.
                                .col-md-4
                                    .card.mt-4.maintenance-box
                                        .card-body
                                            i.bx.bx-envelope.mb-4.h1.text-primary
                                            h5.font-size-15.text-uppercase
                                                | Do you need Support?
                                            p.text-muted.mb-0
                                                | If you are going to use a passage of Lorem
                                                | Ipsum, you need to be sure there isn't anything embar.. 
                                                a.text-decoration-underline(href='mailto:no-reply@domain.com') no-reply@domain.com
                            // end row
        // JAVASCRIPT
        script(src='/stoke/assets/libs/jquery/jquery.min.js')
        script(src='/stoke/assets/libs/bootstrap/js/bootstrap.bundle.min.js')
        script(src='/stoke/assets/libs/metismenu/metisMenu.min.js')
        script(src='/stoke/assets/libs/simplebar/simplebar.min.js')
        script(src='/stoke/assets/libs/node-waves/waves.min.js')
        script(src='/stoke/assets/js/app.js')