doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=title
        link(rel='shortcut icon' href='/stoke/assets/images/favicon.ico')
        // owl.carousel css
        link(rel='stylesheet' href='/stoke/assets/libs/owl.carousel/assets/owl.carousel.min.css')
        link(rel='stylesheet' href='/stoke/assets/libs/owl.carousel/assets/owl.theme.default.min.css')
        // Bootstrap Css
        link#bootstrap-style(href='/stoke/assets/css/bootstrap.min.css' rel='stylesheet' type='text/css')
        // Icons Css
        link(href='/stoke/assets/css/icons.min.css' rel='stylesheet' type='text/css')
        // App Css
        link#app-style(href='/stoke/assets/css/app.min.css' rel='stylesheet' type='text/css')

    body 
        
        block content

        // JAVASCRIPT
        script(src='/stoke/assets/libs/jquery/jquery.min.js')
        script(src='/stoke/assets/libs/bootstrap/js/bootstrap.bundle.min.js')
        script(src='/stoke/assets/libs/metismenu/metisMenu.min.js')
        script(src='/stoke/assets/libs/simplebar/simplebar.min.js')
        script(src='/stoke/assets/libs/node-waves/waves.min.js')
        // owl.carousel js
        script(src='/stoke/assets/libs/owl.carousel/owl.carousel.min.js')
        // auth-2-carousel init
        script(src='/stoke/assets/js/pages/auth-2-carousel.init.js')
        // App js
        script(src='/stoke/assets/js/app.js')
