doctype html
html
  head 
    meta(charset='utf-8')
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(content='Premium Multipurpose Admin & Dashboard Template' name='description')
    meta(content='Themesbrand' name='author')
    // App favicon
    link(rel='shortcut icon' href='/stoke/assets/images/favicon.ico')
    // Bootstrap Css
    link(href='/stoke/assets/css/bootstrap.min.css' rel='stylesheet' type='text/css')
    // Icons Css
    link(href='/stoke/assets/css/icons.min.css' rel='stylesheet' type='text/css')
    //- SWeet Alert
    link(href='/stoke/assets/libs/sweetalert2/sweetalert2.min.css' rel='stylesheet' type='text/css')
    //- DataTables
    link(href='https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css')
    link(href='https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js' rel='stylesheet' type='text/css')
    //- link(href='/stoke/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' rel='stylesheet' type='text/css')
    //- Full Calendar 
    link(href='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.9.0/main.min.css' rel='stylesheet' type='text/css')
    //- Toastr
    link(href='/stoke/assets/libs/toastr/build/toastr.min.css' rel='stylesheet' type='text/css')
    //- Select2
    link(href='https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css' rel='stylesheet' type='text/css')


    // App Css
    link#app-style(href='/stoke/assets/css/app.min.css' rel='stylesheet' type='text/css')
    link(href='/css/app.css' rel='stylesheet' type='text/css')



  body(cdata-sidebar="dark" data-keep-enlarged="true" data-layout-size="boxed")
    .modal-loading
    #layout-wrapper
      //- Header
      include partials/header.pug
      //- Top Menu
      include partials/vmenu.pug


      .main-content
        .page-content
          .container-fluid
            block content


          footer.footer
            .container-fluid
              .row
                .col-sm-6
                  script.
                    document.write(new Date().getFullYear())
                  |  © NDC Patient Mgmt
                .col-sm-6
                  .text-sm-end.d-none.d-sm-block
                    | Appointment System
    
      .right-bar
        include partials/sidebar.pug

    //- JAVASCRIPT
    script(src='/stoke/assets/libs/jquery/jquery.min.js')
    script(src='/stoke/assets/libs/bootstrap/js/bootstrap.bundle.min.js')
    script(src='/stoke/assets/libs/metismenu/metisMenu.min.js')
    script(src='/stoke/assets/libs/simplebar/simplebar.min.js')
    script(src='/stoke/assets/libs/node-waves/waves.min.js')

    //- Axios
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js") 

    //- Sweet Alert
    script(src='/stoke/assets/libs/sweetalert2/sweetalert2.min.js')
    
    //- Datatables
    script(src='https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js')
    //- script(src='/stoke/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js')
    
    //- Moment 
    script(src='/stoke/assets/libs/moment/min/moment.min.js')
    //- Select2
    script(src='https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js')
    //- ESignature
    script(src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js") 
    //- Full Calendar 
    script(src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.9.0/main.min.js") 
    //- Toaster Notification
    script(src="/stoke/assets/libs/toastr/build/toastr.min.js") 
    //- ChartJs
    script(src="https://cdn.jsdelivr.net/npm/chart.js") 
    //- Tooltip
    script(src="https://unpkg.com/@popperjs/core@2") 
    //- Socket IO Client
    script(src="https://cdn.socket.io/4.2.0/socket.io.min.js") 

    //- Dashboard init
    script(src='/stoke/assets/js/app.js')


    script(src="/jspages/app.page.js")
    block mysc




