extends ../../layout 

block content 
    .card
        .card-body
            h4 Patient List
            .row.mb-2
                .col-sm-4
                
                .col-sm-8
                    .text-sm-end
                        button#btnNewPatient.btn.btn-success.btn-rounded.waves-effect.waves-light.mb-2.me-2(data-bs-toggle="modal" data-bs-target=".patient-Modal")
                                i.mdi.mdi-plus.me-1
                                |  New Patient
                    
                // end col
            .table-responsive
                table#table-patients.table.table-stripped
               

    //- ADD NEW NP MODAL================================
    .modal.fade.patient-Modal(tabindex='-1' role='dialog' aria-labelledby='transaction-detailModalLabel' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#transaction-detailModalLabel.modal-title Add/Update Patient
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    form#patient-form(action="/patients/save-update/", method="post") 
                        .row  
                            .col-md-4
                                label(for="status") Status 
                                select(name="status").form-control 
                                    option(value="") Select-->
                                    option(value="active") Active 
                                    option(value="inactive") Inactive   

                        .row  
                            .col-md-4
                                label(for="lastname") Lastname 
                                input(type="text" name="lastname").form-control 
                            .col-md-4
                                label(for="firstname") Firstname 
                                input(type="text" name="firstname").form-control 
                            .col-md-4
                                label(for="middlename") Middlename 
                                input(type="text" name="middlename").form-control 

                        .row 
                            .col-md-6
                                label(for="dob") DOB 
                                input(type="date" name="dob").form-control 
                            .col-md-6
                                label(for="gender") gender 
                                select(name="gender").form-control 
                                    option(value="") Select--> 
                                    option(value="male") Male 
                                    option(value="female") Female      
                        .row  
                            .col-md-6
                                label(for="email") Email 
                                input(type="text" name="email").form-control 
                            .col-md-6
                                label(for="contactno") CP#/Telephone 
                                input(type="text" name="contactno").form-control 
                        .row  
                            .col-md-6
                                label(for="weight") Weight 
                                input(type="text" name="weight").form-control 
                            .col-md-6
                                label(for="ptype") Patient Type
                                input(type="text" name="ptype").form-control 

                        .row 
                            .col-md-12 
                                label(for="address") Address  
                                input(type="text" name="address").form-control 

                        hr 
                        .text-sm-end
                            button.btn.btn-primary(type="submit")
                                i.fa.fa-save 
                                |   SAVE


block mysc 
    script(src="/jspages/patient.page.js")