extends ../../layout

block content 
    .row 
        .col-md-12
            .row 
                .col-md-6
                    .card.mini-stats-wid
                        .card-body
                            .d-flex
                                .flex-grow-1
                                    p.text-muted.fw-medium Total Patients
                                    h4.mb-0#ptCount 0
                                .flex-shrink-0.align-self-center
                                    .mini-stat-icon.avatar-sm.rounded-circle.bg-primary
                                        span.avatar-title
                                            i.bx.bx-user.font-size-24
                .col-md-6
                    .card.mini-stats-wid
                        .card-body
                            .d-flex
                                .flex-grow-1
                                    p.text-muted.fw-medium Total Appointment
                                    h4.mb-0#aptCount 0
                                .flex-shrink-0.align-self-center
                                    .mini-stat-icon.avatar-sm.rounded-circle.bg-primary
                                        span.avatar-title
                                            i.bx.bx-calendar.font-size-24


            .row 
                .col-md-12 
                    .card 
                        .card-body 
                            canvas#chart


block mysc 
    script(src="/jspages/dashboard.page.js")