extends ../../layout 

block content 
    .card
        .card-body
            #calendar


    //- ADD NEW NP MODAL================================
    .modal.fade.appointment-Modal(tabindex='-1' role='dialog' aria-labelledby='appointment-Modal' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#transaction-detailModalLabel.modal-title Add/Update Appointment
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    form#appointment-form(action="/calendar/save-update/", method="post") 
                        .row  
                            .col-md-4
                                label(for="status") Status 
                                select(name="status").form-control 
                                    option(value="") Select--->
                                    option(value="special condition") Special Condition 
                                    option(value="need to confirm") Need to Confirm   
                                    option(value="confirmed") Confirmed
                                    option(value="finished") Finished
                                    option(value="no show/cancelled") No Show/Cancelled
                                    option(value="out of the office or break") Out of the Office or Break
                        .row  
                            .col-md-12
                                label(for="patient") Patient 
                                select(name="patient").form-control 
                                    option(value="") Select-->
                                    each patient in patients
                                        option(value=patient.no)= patient.lastname+" "+patient.firstname+" "+patient.middlename  
                            .col-md-12
                                label(for="doctor") Doctor 
                                select(name="doctor").form-control 
                                    option(value="") Select-->
                                    each doctor in doctors
                                        option(value=doctor.no)= doctor.lastname+" "+doctor.firstname+" "+doctor.middlename  

                        .row 
                            .col-md-6
                                label(for="sdate") Date 
                                input(type="date" name="sdate" id="sdate").form-control 
                            .col-md-6
                                label(for="stime") Time 
                                input(type="time" name="stime").form-control   
                        .row  
                            .col-md-6
                                label(for="payment") Payments 
                                select(name="payment").form-control 
                                    option(value="") Select--->
                                    option(value="cash") Cash
                                    option(value="gcash") GCash
                                    option(value="paymaya") Paymaya
                                    option(value="others") Others
                            .col-md-6
                                label(for="procedure") Procedures
                                select(name="procedure").form-control 
                                    option(value="") Select--> 
                                    option(value="general dentisty") General dentisty
                                    option(value="ortho") Ortho 
                                    option(value="pedia") Pedia
                                    option(value="oral surgery") Oral Surgery
                                    option(value="endodontics") Endodontics
                                    option(value="prosthetic dentisty") Prosthetic dentisty
                                    option(value="cosmetic dentisty") Cosmetic dentisty   

                        .row 
                            .col-md-12 
                                label(for="notes") Notes  
                                textarea(name="notes", rows="5").form-control 

                        hr 
                        .text-sm-end
                            button.btn.btn-primary(type="submit")
                                i.fa.fa-save 
                                |   SAVE


block mysc 
    script(src="/jspages/calendar.page.js")