extends ../../layout 

block content 
    .card
        .card-body
            h4 User Profile
            .row.mb-2
                .col-sm-4
                
                .col-sm-8
                    //- .text-sm-end
                    //-     button#btnAddPayment.btn.btn-success.btn-rounded.waves-effect.waves-light.mb-2.me-2(data-bs-toggle="modal" data-bs-target=".payment-Modal")
                    //-             i.mdi.mdi-plus.me-1
                    //-             |  Add Paid Appointment
                    
                // end col
    

    .card 
        .card-body 
            form#profile-form(action="/user/save-update/"+user.no, method="post") 
                .row 
                    .col-md-4 
                        label(for="status") Status 
                        input(type="text" name="status" value=user.status).form-control

                .row 
                    .col-md-4 
                        label(for="lastname") Lastname 
                        input(type="text" name="lastname" value=user.lastname).form-control
                    .col-md-4 
                        label(for="lastname") Firstname 
                        input(type="text" name="firstname" value=user.firstname).form-control
                    .col-md-4 
                        label(for="lastname") DOB 
                        input(type="date" name="dob" value=user.dob).form-control
                .row 
                    .col-md-4 
                        label(for="lastname") Username 
                        input(type="text" name="username" value=user.username).form-control
                    .col-md-4 
                        label(for="lastname") Password 
                        input(type="password" name="password").form-control
                    .col-md-4 
                        label(for="lastname") Retype Password 
                        input(type="password" name="repassword").form-control
                hr 
                .text-sm-end
                    button.btn.btn-primary(type="submit")
                        i.fa.fa-save
                        | UPDATE
            
block mysc 
    script(src="/jspages/user.page.js")