extends ../../layout 

block content 
    .card
        .card-body
            h4 User List
            .row.mb-2
                .col-sm-4
                
                .col-sm-8
                    .text-sm-end
                        button#btnAddNewUser.btn.btn-success.btn-rounded.waves-effect.waves-light.mb-2.me-2(data-bs-toggle="modal" data-bs-target=".user-Modal")
                                i.mdi.mdi-plus.me-1
                                |  Add New User
                    
                // end col
    
            .table-responsive
                table#table-users.table.table-stripped
    

    //- ADD NEW NP MODAL================================
    .modal.fade.user-Modal(tabindex='-1' role='dialog' aria-labelledby='payment-Modal' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#transaction-detailModalLabel.modal-title Save/Update User
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    .card 
                        .card-body 
                            form#user-form(action="/user/save-update/", method="post") 
                                .row 
                                    .col-md-6 
                                        label(for="status") Status 
                                        select(name="status").form-control
                                            option(value="active") Active
                                            option(value="inactive") Inactive 
                                    .col-md-6 
                                        label(for="accesslevel") Acces Level 
                                        select(name="accesslevel").form-control
                                            option(value="user") User
                                            option(value="admin") Admin 
                                .row 
                                    .col-md-6 
                                        label(for="lastname") Lastname 
                                        input(type="text" name="lastname").form-control
                                    .col-md-6 
                                        label(for="lastname") Firstname 
                                        input(type="text" name="firstname").form-control
                                .row 
                                    .col-md-6 
                                        label(for="lastname") Username 
                                        input(type="text" name="username").form-control
                                    .col-md-6 
                                        label(for="lastname") DOB 
                                        input(type="date" name="dob" ).form-control
                                .row
                                    .col-md-6 
                                        label(for="lastname") Password 
                                        input(type="password" name="password").form-control
                                    .col-md-6 
                                        label(for="lastname") Retype Password 
                                        input(type="password" name="repassword").form-control
                                hr 
                                .text-sm-end
                                    button.btn.btn-primary(type="submit")
                                        i.fa.fa-save
                                        | SAVE/UPDATE


block mysc 
    script(src="/jspages/user.page.js")