extends ../../layout 

block content 
    .card
        .card-body
            h4 Payment Appointment List
            .row.mb-2
                .col-sm-4
                
                .col-sm-8
                    //- .text-sm-end
                    //-     button#btnAddPayment.btn.btn-success.btn-rounded.waves-effect.waves-light.mb-2.me-2(data-bs-toggle="modal" data-bs-target=".payment-Modal")
                    //-             i.mdi.mdi-plus.me-1
                    //-             |  Add Paid Appointment
                    
                // end col
            .table-responsive
                table#table-payments.table.table-stripped
               

    //- ADD NEW NP MODAL================================
    .modal.fade.payment-Modal(tabindex='-1' role='dialog' aria-labelledby='payment-Modal' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#transaction-detailModalLabel.modal-title Add/Update Appointment
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    form#payment-form(action="/payments/save-update/", method="post") 
                        .row 
                            .col-md-4
                                label(for="sdate") Date Paid 
                                input(type="date" name="sdate").form-control 
                            .col-md-8 
                                label(for="amount") Amount
                                input(type="number" name="amount").form-control 
                        hr 
                        .text-sm-end
                            button.btn.btn-primary(type="submit")
                                i.fa.fa-save 
                                |   SAVE


block mysc 
    script(src="/jspages/payments.page.js")